/*p {
	color: red;
}*/
.div-1 {
	background-color: lightblue; 
	padding: 20px;
	align
}
/*
To style the paragraphs sections for the entire page, you'd style the paragraphs on their own. But to style
the paragraghs for the div sections specifically, you'd code as below:;
*/
.div-1 p{
	color: darkgreen;
}